<h1>Artists Index</h1>

<% if session[:user_id] %>

<% @artists.each do |artist| %>
    <%= link_to artist.name, artist_show_path(artist) %><br>
 
<% end %>
 <%= link_to "My Profile", user_profile_path%>
<% end %>

<% if session[:artist_id] %>


<% @artists.each do |artist| %>
    <%= link_to artist.name, artist_show_path(artist) %><br>
<% end %>
<%= link_to "My Profile", artist_profile_path%>
<% end %>
    
