
<h1>WELCOME TO SOUNDLOUD</h1>
<body> SoundLoud is a website that allows you to like songs and follow artists if you are a user, and also allows you to post your songs if you are an artist. </body>
<p> Are you a User or an Artist? </p>
<%= link_to "I am a User", '/login' %><br>
<%= link_to "I am an Artist", '/artists/login' %>

Testing to see if the git works
