<div align="center" id="welcome">
<h1>WELCOME TO SOUNDLOUD</h1>

<body> SoundLoud is a website that allows you to like songs and follow artists if you are a user, and also allows you to post your songs if you are an artist. </body>
<p> Are you a User or an Artist? </p>


<a href="/user/login" class="btn btn-outline-light" role="button">User Login</a>

<a href="/artists/login" class="btn btn-outline-light" role="button">Artist Login</a>

<a href="/user/signup" class="btn btn-outline-light" role="button">Create New User Account</a>

<a href="/artists/signup" class="btn btn-outline-light" role="button">Create New Artist Account</a>

</div>









